*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
/*header开始*/
.header{
	height: 173;
	background-color: #eeeeef;
}
.logo{
	text-align: center;
	height: 125px;

}
.logo img{
	margin-top: 30px;
}
.nav{
	width: 670px;
	height: 45px;
	background-color:white;
	margin: 0 auto;
	border-radius: 23px;
}
.nav li{
	float: left;
	height: 45px;
	padding: 0 30px;
	line-height: 45px;
	font-size: 14px;
}
.nav li a{
	display: block;
	height: 42px;
	border-bottom: 3px solid #1e50ff;
}
/*header结束*/
/*banner开始*/
.banner{
	width:100%;
	text-align: center;

}
/*banner结束*/
/*serve开始*/
.serve{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}
.serve h1{
	text-align: center;
	padding-top: 60px;
}
.serve p{
	text-align: center;
	padding-top: 22px;
	padding-bottom: 60px;
	font-size: 31px;
}
.li1{
	width: 300px;
	height: 370px;
	float: left;
}
.li2{
	width: 300px;
	height: 240px;
	float: left;
}
.li1 ul{
	display: block;
	/*margin-left: 100px;*/
	color: #aaa;
	/*line-height: 10px;*/
}
.serve li{
	
}
.serve ul>li>p{
	text-align: center;
}
/*serve结束*/
/*solve开始*/
.solve{
	width:100%;
	height: 712px;
	margin-top: 63px;
	text-align: center;
	background-color:blue;
}
.solve h1{
	text-align: center;
	padding-top: 65px;
}
.solve p{
	text-align: center;
	padding-top: 22px;
	padding-bottom: 60px;
	font-size: 31px;
}
.solve img{
	float:left;
	margin-right: 50px;
}
.box{
	width: 1400px;
	height: 712px;
	margin: 0 auto;
	text-align: center;
}
.box ul{
	margin-left: 90px;
}
.box button{
	width: 230px;
	height: 50px;
	border: 1px solid #fff;
	background: none;
	border-radius: 25px;
	margin-top: 80px;
}

/*solve结束*/
/*infermation开始*/
.information{
	width: 100%;
	height: 905px;
	margin: 0 auto;
}
.infor{
	height: 905px;
	width: 1100px;
	margin: 0 auto;
}
.infor h1{
	text-align: center;
	padding-top:65px;
}
.add{
	text-align: center;
	padding-top: 22px;
	padding-bottom: 60px;
	font-size: 31px;
}
.add0{
	float:left;
	font-size: 22px;
	padding-bottom: 20px;
	margin-left: 75px;
}
.add1{
	float:left;
	font-size: 18px;
	padding-bottom: 35px;
	padding-left: 75px;
}
.add2{
	font-size: 14px;
	color: #aaa;
	line-height: 20px;
	/*padding-left: 75px;*/
}
.add3{
	height: 300px;
	width: 600px;
	float: left;
	padding-top: 60px; 
	font-size: 14px;
	color: #aaa;
	line-height:48px;

}
.add4{
	float:left;
	margin-right: 10px;
}
.infor button{
	float: left;
	width: 144px;
	height: 42px;
	border: 1px solid blue;
	border-radius: 21px;
	background: none;
	margin-top: 34px;
	margin-left: 75px;
}

.information li{
	border-bottom: 1px dashed #797979;

}
/*information结束*/
.app{
	height: 106px;
	background-color: #aaa;
	text-align: center;
}
.app0{
	width: 1300px;
	height: 106px;
	margin: 0 auto;
	background-color: red;
}
.app h3{
	font-size: 19px;
}
.app p{
	font-size: 13px;
}
.app li{
	border-right: 1px solid #e1e1e1; 
	line-height: 30px;
	font-size: 14px;
	padding: 0.5px;
	margin-right: 45px;
	margin-top: 25px;

}
.min{
	height: 390px;
	background-color: black;
	text-align: center;
	margin: 0 auto;
}
.min ul{
	float: left;
	width: 170px;
	height: 210px;
	padding-top: 75px;
	color: white;
}
.min li{
	font-size: 14px;
	padding-bottom: 22px;
}
.min h3{
	padding-bottom: 30px;
}
.block{
	float: left;
	margin: 0 auto;
	margin-top: 75px;
	margin-left: 105px;
/*	margin-right: 15px*/;

}
.line{
	font-size: 18px;
	color: #fff;
	/*margin-top: 20px;*/
	border-right: 1px solid #fff;
	/*padding: 0 30px;*/
	float: left;
}
.ask{
	line-height: 40px;
	color: #fff;
	/*padding-top: 75px;*/
	text-align: left;
	padding-left: 45px;
	float: left;

}
.under ul{
	padding-top:60px;
	width: 1200px;
	height: 125px;
	float: left;
	text-align: center;
	color: white;

}
.under li{
	display: block;
	float: left;
    border-right:1px solid white;
    font-size: 14px;
    padding: 0 10px ;
    text-align: center;
}